/*------ Header ------*/
#navigation_bar {
  background-color: #1c1c1c;
  text-align: right;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
}

.links-container > li {
  font-family: 'Montserrat', 'Arial-Light', sans-serif;
  font-size: 14px;
  display: inline-block;
  padding-right: 50px;
  letter-spacing: 5px;
}

.links-container > li > a {
  text-decoration: none;
  color: #f4f4f4;
  animation: fadeIn ease 1.5s;
}

.links-container > li > a:hover {
  color: white;
}

#dropdown > ul {
  display: none;
}

.name {
  font-family: 'Montserrat', sans-serif;
  float: left;
  font-size: 14px;
  letter-spacing: 8px;
  animation: fadeIn ease 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.name > a {
  text-decoration: none;
  color: white;
}

/*------ Body ------*/
body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#body {
  padding-top: 50px;
  padding-left: 20vw;
  padding-right: 20vw;
  background-color: white;
}

.title {
  font-family: 'Futura', 'Arial-Light', sans-serif;
  letter-spacing: 8px;
  font-size: 34px;
  color: #262626;
  margin-top: 0;
  margin-bottom: 50px;
}

#github > img {
  width: 40px;
  height: auto;
}

.base-img {
  border: 1px solid #000000;
  margin-right: 30px;
}

/*----- Mobile Display -----*/
@media screen and (max-width: 680px) {
  #body {
    padding: 0;
  }
}

@media screen and (max-width: 750px) {
  /*----- Header -----*/
  body {
    padding-bottom: 20px import !important;
  }

  #navigation_bar {
    justify-content: center;
    padding-left: 0;
  }

  .name {
    float: none;
    text-align: center;
  }

  .links-container > li {
    display: none;
  }

  #dropdown {
    text-align: right;
    display: none;
  }

  #dropdown > ul {
    background-color: #1c1c1c;
    font-family: 'Montserrat', 'Arial-Light', sans-serif;
    font-size: 16px;
    list-style-type: none;
    display: inline-block;
    margin: 0;
  }

  #dropdown > ul > li {
    padding-top: 13px;
    padding-right: 35px;
    margin-bottom: 25px;
  }

  #dropdown > ul > li > a {
    text-decoration: none;
    color: #f4f4f4;
  }

  #dropdown > ul > li > a:hover {
    color: white;
  }

  /*------ Body ------*/
  body {
    margin: 0;
    padding: 0;
    background-color: white;
  }

  #body {
    padding-top: 50px;
    background-color: white;
    height: 100vh;
    text-align: center;
  }

  .title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
