/*------ Header ------*/
#navigation_bar {
	background-color: #1c1c1c;
	list-style: none;
	text-align: right;
    overflow: hidden;
	margin: 0 0 0 0;
	padding: 30px 0px 30px 0px;
}

#navigation_bar > li {
	font-family: 'Montserrat','Arial-Light', sans-serif;
    font-size: 14px;
	/*display: inline-block;*/
	display: none;
	padding-right: 50px;
    margin-top: 4px;
}

#navigation_bar > li > a {
	text-decoration: none;
	color: #f4f4f4;
}

#navigation_bar > li > a:hover {
	color: white;
}

#navigation_bar > img {
    display: none;
}

.nav_elements {
	display: none;
}

#dropdown  > ul {
    display: none;
}

.logo {
	font-family: 'Montserrat','Bellefair';
	float: left;
    font-size: 22px;
    margin-top: 0px;
	padding-left: 30px;
	display: none;
}

.logo > a {
	text-decoration: none;
	color: white;
}

/*------ Body ------*/
body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	/*background-color: #1c1c1c;*/
}

#body {
	padding-top: 50px;
	padding-left: 20vw;
	padding-right: 20vw;
	padding bottom: 100px;
	background-color: white;
}

p {
	font-family: 'Bellefair', sans-serif;
	font-size: 24px;
	margin-bottom: 30px;
}

h1 {
	font-family: 'Roboto','Arial-Light', sans-serif;
	font-size: 45px;
	color: #262626;
	font-style: italic;
	text-decoration: underline;
}

/*----- Mobile Display -----*/
@media screen and (max-width: 750px) {

	/*----- Header -----*/
    #navigation_bar > li {
        display: none !important;
    }

    #navigation_bar > img {
		/*display: none;*/
        display: inline-block;
        width: 28px;
        height: 20px;
        padding-right: 35px;
        padding-bottom: 0px;
        margin-top: 3px;
    }

	#navigation_bar > img:hover {
    	cursor: pointer;
    }

    #dropdown {
        text-align: right;
    }

    #dropdown > ul{
        background-color: #1c1c1c;
        font-family: 'Montserrat','Arial-Light', sans-serif;
        font-size: 16px;
        list-style-type: none;
        float: right;
		display: inline-block;
        margin: 0;
    }

    #dropdown > ul > li {
        padding-top: 13px;
        padding-right: 35px;
        margin-bottom: 25px;
    }

    #dropdown  > ul > li > a {
        text-decoration: none;
        color: #f4f4f4;
    }

    #dropdown  > ul > li > a:hover {
        color: white;
    }

	/*------ Body ------*/
	body {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		background-color: white;
	}

	#body {
		padding-top: 50px;
		background-color: white;
		height: 100vh;
	}
}
